.Contact {
  list-style: none;
  color: white;
  margin: 30px 0 60px 0;
  align-items: left;
}

.Contact li {
  /* padding: 3px; */
  border-bottom: 1px solid white;
  border-radius: 2px;
  min-width: 90px;
}
.Contact li:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.658);
  border-radius: 2px;
  cursor: pointer;
}

.LinkLabel {
  padding: 5px;
}

.Line {
  margin: 0.5rem 0 1rem 0;
  width: 100%;
  border-width: 1px;
  border-color: rgb(133, 133, 133);
}
